@font-face {
  font-family: 'Digital';
  src: url('./fonts/digital-7.ttf');
}

body {
  background-color: #DAE9F4;
}

.clock-container {
  
  margin-top: 170px;
  text-align: center;
}

.clock-text {
  border: 3px solid black;
  background-color: black;
  color: #00ff00;
  width: 520px;
  margin: 0 auto;
  font-size: 120px;
  font-family: 'Digital';
}

.footer {
  margin-top: 170px;
}