@font-face {
  font-family: 'Digital';
  src: url('./fonts/digital-7.ttf');
}

body {
  background-color: #DAE9F4;
}

.clock-container {
  margin-top: 170px;
  text-align: center;
}

.clock-text {
  border: 3px solid black;
  background-color: black;
  color: #00ff00;
  width: 520px;
  margin: 0 auto;
  font-size: 120px;
  font-family: 'Digital';
}

.footer {
  margin-top: 170px;
}

/* Media Query for Mobile Layout */
@media only screen and
(min-width: 360px) and
(max-width: 512px) {

  .clock-container {
    text-align: center;
  }

  .heading {
    font-size: 18px;
  }

  .clock-text {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 0 auto;
    font-size: 65px;
  }

  .footer-text {
    font-size: 18px;
  }

}